:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: rgb(0 74 173);
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: rgb(0 74 173);
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
    padding: 15px 0;
    background: #012970;
    min-height: 40px;
    margin-top: 82px;
    color: #fff;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 57px;
    }
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 500;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
}

.breadcrumbs ol a:hover {
    text-decoration: underline;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #8894f6;
    content: "/";
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: rgb(2 32 76);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 100%;
    width: 40%;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #013289;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: rgb(0 74 173);
}

.navbar .getstarted {
    background: rgb(0 74 173);
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.navbar .getstarted:hover {
    color: #fff;
    background: rgb(10 42 111);
    padding: 8px 20px;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: rgb(0 74 173);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: rgb(0 74 173);
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: rgb(0 74 173);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero {
    width: 100%;
    /* background: url(../img/hero-bg.png) top center no-repeat; */
    /* background-size: cover; */
    /* background-color: #012a7009; */
}

.backbone1,
.backbone2 {
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}

.hero-about {
    background-size: cover;
    width: 100%;
}

.hero h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #012970;
}

.hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
}

.hero .btn-get-started {
    margin-top: 18px;
    transition: 0.5s;
    /* box-shadow: 0px 1px 2px 1px rgb(65 84 241 / 40%); */
    background: rgb(0 74 173);
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.hero .btn-get-started:hover i {
    transform: translateX(5px);
}

.hero .hero-img img {
    width: 300px;
}

.cl-logo {
    width: 200px;
    height: 70px;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: auto;
        padding: 120px 0 60px 0;
    }
    .hero .hero-img {
        text-align: center;
        margin-top: 80px;
    }
    .hero .hero-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }
    .backbone2 {
        background: none;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero h2 {
        font-size: 24px;
    }
    .hero .hero-img img {
        width: 100%;
    }
}


/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content {
    background-color: #f6f9ff;
    padding: 40px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: rgb(0 74 173);
    text-transform: uppercase;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: rgb(0 74 173);
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.about .btn-read-more:hover i {
    transform: translateX(5px);
}


/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/

.values .box {
    padding: 5px;
    /* box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08); */
    text-align: center;
    transition: 0.3s;
    height: 100%;
}

.values .box img {
    padding: 8px;
    transition: 0.5s;
    transform: scale(0.8);
}

.values .box h3 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
}

.values .box:hover img {
    transform: scale(1);
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 70px 0 60px;
}

.counts .count-box {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 20px;
    color: rgb(0 74 173);
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #0b198f;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .feature-box {
    padding: 24px 20px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
}

.features .feature-box h3 {
    font-size: 18px;
    color: #012970;
    font-weight: 700;
    margin: 0;
}

.features .feature-box i {
    line-height: 0;
    background: #ecf3ff;
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 3px;
    transition: 0.3s;
}

.features .feature-box:hover i {
    background: rgb(0 74 173);
    color: #fff;
}

.features .feture-tabs {
    margin-top: 120px;
}

.features .feture-tabs h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .features .feture-tabs h3 {
        font-size: 28px;
    }
}

.features .feture-tabs .nav-pills {
    border-bottom: 1px solid #eee;
}

.features .feture-tabs .nav-link {
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #012970;
    padding: 12px 0;
    margin-right: 25px;
    margin-bottom: -2px;
    border-radius: 0;
}

.features .feture-tabs .nav-link.active {
    color: rgb(0 74 173);
    border-bottom: 3px solid rgb(0 74 173);
}

.features .feture-tabs .tab-content h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: #012970;
}

.features .feture-tabs .tab-content i {
    font-size: 24px;
    line-height: 0;
    margin-right: 8px;
    color: rgb(0 74 173);
}

.features .feature-icons {
    margin-top: 120px;
}

.features .feature-icons h3 {
    color: #012970;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .features .feature-icons h3 {
        font-size: 28px;
    }
}

.features .feature-icons .content .icon-box {
    display: flex;
}

.features .feature-icons .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: #012970;
}

.features .feature-icons .content .icon-box i {
    font-size: 44px;
    line-height: 44px;
    color: #0245bc;
    margin-right: 15px;
}

.features .feature-icons .content .icon-box p {
    font-size: 15px;
    color: #848484;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.services .service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}

.services .service-box h3 {
    color: #444444;
    font-weight: 700;
}

.services .service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
}

.services .service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.services .service-box.blue {
    border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.services .service-box.blue .read-more {
    color: #2db6fa;
}

.services .service-box.blue:hover {
    background: #2db6fa;
}

.services .service-box.orange {
    border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.services .service-box.orange .read-more {
    color: #f68c09;
}

.services .service-box.orange:hover {
    background: #f68c09;
}

.services .service-box.green {
    border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.services .service-box.green .read-more {
    color: #08da4e;
}

.services .service-box.green:hover {
    background: #08da4e;
}

.services .service-box.red {
    border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
}

.services .service-box.red .read-more {
    color: #e9222c;
}

.services .service-box.red:hover {
    background: #e9222c;
}

.services .service-box.purple {
    border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
}

.services .service-box.purple .read-more {
    color: #b50edf;
}

.services .service-box.purple:hover {
    background: #b50edf;
}

.services .service-box.pink {
    border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
    color: #f51f9c;
    background: #feecf7;
}

.services .service-box.pink .read-more {
    color: #f51f9c;
}

.services .service-box.pink:hover {
    background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
    color: #fff;
}

.services .service-box:hover .icon {
    background: #fff;
}


/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .box {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.pricing .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.pricing h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.pricing .price {
    font-size: 36px;
    color: #444444;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .price span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.pricing img {
    padding: 30px 40px;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.pricing ul li {
    padding-bottom: 10px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: rgb(0 74 173);
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid rgb(0 74 173);
}

.pricing .btn-buy:hover {
    background: rgb(0 74 173);
    color: #fff;
}

.pricing .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: rgb(0 74 173);
    color: #fff;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq .accordion-collapse {
    border: 0;
}

.faq .accordion-button {
    padding: 15px 15px 20px 0;
    font-weight: 600;
    border: 0;
    font-size: 18px;
    color: #444444;
    text-align: left;
}

.faq .accordion-button:focus {
    box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
    background: none;
    color: rgb(0 74 173);
    border-bottom: 0;
}

.faq .accordion-body {
    padding: 0 0 25px 0;
    border: 0;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: rgb(0 74 173);
    border-color: rgb(0 74 173);
}

.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap img {
    transition: 1s;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid rgba(1, 41, 112, 0.2);
    border-left: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid rgba(1, 41, 112, 0.2);
    border-right: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
}

.portfolio .portfolio-wrap .portfolio-info p {
    color: #012970;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    background: rgb(0 74 173);
    margin: 10px 2px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a i {
    font-size: 24px;
    line-height: 0;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: rgb(10 42 111);
}

.portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
}

.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid rgb(0 74 173);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0 74 173);
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid rgb(0 74 173);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0 74 173);
}

.testimonials .swiper-slide {
    opacity: .3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }
    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
}

.team .member .member-img {
    position: relative;
    overflow: hidden;
}

.team .member .member-img:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../img/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}

.team .member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.team .member .social a {
    transition: color 0.3s;
    color: rgba(1, 41, 112, 0.5);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
}

.team .member .social a:hover {
    color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
    font-size: 18px;
}

.team .member .member-info {
    padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #012970;
}

.team .member .member-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px;
    color: #5e5e5e;
}

.team .member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
    right: 8px;
    opacity: 1;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.clients .clients-slider .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
    opacity: 1;
}

.clients .clients-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid rgb(0 74 173);
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: rgb(0 74 173);
}


/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/

.recent-blog-posts .post-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recent-blog-posts .post-box .post-img {
    overflow: hidden;
    margin: -30px -30px 15px -30px;
    position: relative;
}

.recent-blog-posts .post-box .post-img img {
    transition: 0.5s;
}

.recent-blog-posts .post-box .post-date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
}

.recent-blog-posts .post-box .post-title {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
    position: relative;
    transition: 0.3s;
}

.recent-blog-posts .post-box .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
}

.recent-blog-posts .post-box .readmore i {
    line-height: 0;
    margin-left: 4px;
    font-size: 18px;
}

.recent-blog-posts .post-box:hover .post-title {
    color: rgb(0 74 173);
}

.recent-blog-posts .post-box:hover .post-img img {
    transform: rotate(6deg) scale(1.2);
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
    color: #444444;
    background: #fafbff;
    padding: 30px;
}

.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: rgb(0 74 173);
}

.contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    background: #fafbff;
    padding: 30px;
    height: 100%;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: rgb(0 74 173);
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: rgb(0 74 173);
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: rgb(10 42 111);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/

.blog {
    padding: 40px 0 20px 0;
}

.blog .entry {
    padding: 10px;
    margin-bottom: 60px;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
}

.blog .entry .entry-img {
    max-height: 440px;
    margin: -20px -10px 20px -10px;
    overflow: hidden;
    border-radius: 20px;
}

.blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
    color: #012970;
    transition: 0.3s;
}

.blog .entry .entry-title a:hover {
    color: rgb(0 74 173);
}

.blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #4084fd;
}

.blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blog .entry .entry-meta ul li+li {
    padding-left: 20px;
}

.blog .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
}

.blog .entry .entry-meta a {
    color: #777777;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}

.blog .entry .entry-content p {
    line-height: 24px;
}

.blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.blog .entry .entry-content .read-more a {
    display: inline-block;
    background: rgb(0 74 173);
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    border-radius: 4px;
}

.blog .entry .entry-content .read-more a:hover {
    background: rgb(10 42 111);
}

.blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 10px;
    position: relative;
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
}

.blog .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
}

.blog .entry .entry-content blockquote::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #012970;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
    color: #0d64fd;
    display: inline;
}

.blog .entry .entry-footer a {
    color: #013289;
    transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
    color: rgb(0 74 173);
}

.blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.blog .entry .entry-footer .cats li {
    display: inline-block;
}

.blog .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;
}

.blog .entry .entry-footer .tags li {
    display: inline-block;
}

.blog .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}

.blog .entry .entry-footer .share {
    font-size: 16px;
}

.blog .entry .entry-footer .share i {
    padding-left: 5px;
}

.blog .entry-single {
    margin-bottom: 30px;
}

.blog-image {
    border-radius: 10px;
    width: 100%;
    height: 1;
}

.blog .blog-author {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
    width: 120px;
    margin-right: 20px;
}

.blog .blog-author h4 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    padding: 0;
    color: #012970;
}

.blog .blog-author .social-links {
    margin: 0 10px 10px 0;
}

.blog .blog-author .social-links a {
    color: rgba(1, 41, 112, 0.5);
    margin-right: 5px;
}

.blog .blog-author p {
    color: #7e7e7e;
}

.blog .blog-comments {
    margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
    font-weight: bold;
    font-size: 16px;
}

.blog .blog-comments .comment {
    margin-top: 30px;
    position: relative;
}

.blog .blog-comments .comment .comment-img {
    margin-right: 14px;
}

.blog .blog-comments .comment .comment-img img {
    width: 60px;
}

.blog .blog-comments .comment h5 {
    font-size: 16px;
    margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
    color: rgb(0 74 173);
}

.blog .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: #012970;
}

.blog .blog-comments .comment h5 .reply i {
    font-size: 20px;
}

.blog .blog-comments .comment time {
    display: block;
    font-size: 14px;
    color: #013ca3;
    margin-bottom: 5px;
}

.comment p {
    font-size: 13px;
}

.blog .blog-comments .comment.comment-reply {
    padding-left: 40px;
}

.blog .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: 22px;
}

.blog .blog-comments .reply-form p {
    font-size: 13px;
}

.blog .blog-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 13px;
}

.blog .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #a0aaf8;
}

.blog .blog-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 13px;
}

.blog .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #a0aaf8;
}

.blog .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #012970;
}

.blog .blog-comments .reply-form .btn-primary:hover {
    background-color: #013289;
}

.blog .blog-pagination {
    color: #024ed5;
}

.blog .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.blog .blog-pagination li a {
    color: #012970;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
    background: rgb(0 74 173);
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
    color: #fff;
}

.blog .sidebar {
    padding: 20px;
    margin: 0px 0 20px 0px;
    border-left: 2px solid#e6e6e6;
}

.blog .sidebar .sidebar-title {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #012970;
    position: relative;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
}

.blog .sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: rgb(0 74 173);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    background: #5465f2;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li+li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    color: #012970;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: rgb(0 74 173);
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
    border-radius: 10px;
    border-left: 2px solid #012970;
}

.blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
    color: #012970;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: rgb(0 74 173);
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    color: #0257ee;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #d7e6ff;
    display: inline-block;
    transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid rgb(0 74 173);
    background: rgb(0 74 173);
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #a5c5fe;
    font-size: 14px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
    background: #004aad;
    padding: 0 0 30px 0;
    font-size: 14px;
}


/* .footer-2 {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
} */

@media (max-width:552px) {
    .blog .sidebar {
        margin: 20px 0;
    }
}

.footer .footer-newsletter {
    padding: 50px 0;
    background: #f6f9ff;
    border-top: 1px solid #e1ecff;
}

.footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    color: #012970;
}

.footer .footer-newsletter form {
    margin-top: 20px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #e1ecff;
}

.footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
}

.footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: rgb(0 74 173);
    color: #fff;
    transition: 0.3s;
    border-radius: 4px;
}

.footer .footer-newsletter form input[type="submit"]:hover {
    background: #ffffff;
}

.footer .footer-top {
    /* background: #012970 url(../img/hero-bg.png) no-repeat left top; */
    background: #004aad;
    background-size: 100%;
    border-top: 1px solid #e1ecff;
    /* border-bottom: 1px solid #e1ecff; */
    padding: 60px 0 30px 0;
    color: white;
}

@media (max-width: 992px) {
    .footer .footer-top {
        background-position: center bottom;
    }
}

.footer .footer-top .footer-info {
    margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
    line-height: 0;
    margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}

.footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
}

.footer .footer-top .social-links a {
    font-size: 20px;
    display: inline-block;
    color: white;
    line-height: 0;
    margin-right: 10px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    color: #ffffff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: white;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    color: white;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
    color: rgb(70, 143, 252);
}

.footer .footer-top .footer-contact p {
    line-height: 26px;
}

.footer .copyright {
    /* text-align: center; */
    /* padding-top: 30px; */
    color: white;
}

.footer .credits {
    /* padding-top: 10px; */
    text-align: right;
    font-size: 13px;
    color: white;
}

@media(max-width:552px) {
    .footer .credits {
        text-align: left;
    }
}


/* extra edited */


/* .half-size {
    width: 60%;
} */

.space-between {
    display: flex;
    align-content: space-around;
}

.space-between-2 {
    align-content: center;
    display: grid;
    text-align: justify;
    /* padding: 5px; */
}

.slide-h3 {
    font-size: 24px;
    color: #004aad;
    text-transform: uppercase;
    font-weight: 900;
}

@media(max-width:552px) {
    .space-between {
        display: block;
        align-content: space-around;
    }
}

.text-right {
    text-align: right!important;
}


/* slideshow in home page in section 1 */

.slideshow-container {
    position: relative;
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: grey;
    color: #ddd;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease
}

.active-dot,
.dot:hover {
    background-color: hotpink;
}

.dot-container {
    text-align: center;
}

@media(max-width:552px) {
    .next,
    .prev {
        display: none;
    }
    .mySlides {
        padding: 10px;
    }
}

.align-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media(max-width:552px) {
    .half-width {
        width: 33%;
    }
    .half-width-2 {
        width: 30%;
    }
}

.Btn-adro {
    line-height: 0;
    padding: 23px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: rgb(0 74 173);
    box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
    font-size: 20px;
}

.Btn-adro:hover {
    color: white;
}

.last-links {
    list-style-type: none;
    display: flex;
    align-content: stretch;
    margin: 0%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.last-links,
li a {
    color: white;
}

.last-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* aside forms */

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup p {
    font-size: 13px;
}

.popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 900px;
    height: auto;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 800px;
    /* overflow: scroll; */
    scroll-behavior: smooth;
}

@media(max-width:552px) {
    .popup .content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: white;
        width: 95%;
        height: 95%;
        z-index: 2;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 5px;
        max-height: 800px;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}

.popup h2 {
    color: #02204c;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #02204c;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 10%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.btn-popup {
    border: none;
    font-weight: 600;
    background: #02204c;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 30%;
    opacity: 0.9;
    color: white;
    font-size: 20px;
}

.btn-popup:hover .btn-popup-2:hover {
    opacity: 1;
}

.btn-popup-2 {
    border: none;
    font-weight: 600;
    background: #02204c;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 24%;
    opacity: 0.9;
    color: white;
    font-size: 20px;
}

.popup .form-group .pop-area {
    height: 105px;
}

.popup-2 {
    top: 23%;
}

@media(max-width:552px) {
    .popup .content .content2 {
        width: 95%;
        height: 95%;
        overflow: scroll;
        padding: 20px;
    }
    .popup h1 {
        font-size: 22px;
    }
    .popup p {
        font-size: 12px;
    }
    .popup .form-group .form-control {
        /* height: 40px; */
        font-size: 14px;
    }
    .popup-2 {
        top: 20%;
    }
    .blog .blog-author h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

@media(max-width:380px) {
    .popup .content .content2 {
        padding: 20px;
    }
    .popup h1 {
        font-size: 22px;
    }
    .popup p {
        font-size: 12px;
    }
    .popup .form-group .form-control {
        height: 45px;
        font-size: 14px;
    }
    .popup .form-group .pop-area {
        height: 100px;
    }
    .popup .close-btn {
        right: 10px;
        top: 10px;
    }
}

@media(max-width:320px) {
    .popup .content .content2 {
        padding: 10px;
    }
    .popup h1 {
        font-size: 20px;
    }
    .popup p {
        font-size: 12px;
    }
    .popup .form-group .form-control {
        height: 35px;
        font-size: 12px;
    }
    .popup .form-group .pop-area {
        height: 50px;
    }
}

.contactform .form-control {
    background-color: #fbfbfbab;
    height: 40px;
    font-size: 13px;
    border: 1px solid #f3f1f1;
    margin: 15px 0;
    border-radius: 5px;
    color: #012970;
    font-weight: 600;
}

.header.active {
    display: none;
}

.service-label {
    margin: 0px 6px;
    font-size: 13px;
    transform: translateY(-3px);
}

.checkmark-1 {
    margin: 0px 0 10px 0;
}

.form-h5 {
    font-size: 20px;
    font-weight: 600;
    color: #02204c;
    margin: 13px 0 0 0;
}

.Btn-adro-2 {
    line-height: 0;
    padding: 16px 25px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #013ca3;
    /* box-shadow: 0px 5px 25px rgb(65 84 241 / 30%); */
    font-size: 14px;
    border: solid #013ca3;
}

.Btn-adro-2:hover {
    color: white;
    background-color: #013ca3;
}

.checkmark-3 {
    margin: 0px 10px 0 0;
    transform: translateY(2px);
}

.close-hr {
    background-color: #041948;
}

.heading {
    font-size: 36px;
    color: #004aad;
    font-weight: 700;
    text-align: left;
}

.heading-line {
    width: 100px;
    transform: translateY(-20px);
    border: 3px solid #004aad;
    opacity: 1;
    border-radius: 20px;
}

.description-2 {
    font-size: 15px;
    text-align: justify;
}

.none-after-552 {
    display: none;
}

.img-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.place-justify {
    text-align: justify;
}

.rectangle-box {
    padding: 10px 5px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    transition: 0.3s;
    height: auto;
    font-size: 14px;
    margin: 20px 0;
    text-align: justify;
}

.rectangle-box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.show-552 {
    display: none;
}

@media (max-width:552px) {
    .none-552 {
        display: none;
    }
    .show-552 {
        display: flex;
    }
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box-border {
    /* box-shadow: 0px 0px 3px 1px #d0d2da; */
    transform: scale(0.9);
}

.box-border:hover {
    box-shadow: 0px 0px 5px 1px #d0d2da;
    transform: scale(0.9);
    border-radius: 5px;
}

.btn-box {
    margin: 10px 0;
    font-size: 12px;
    padding: 20px;
}

.no-scale:hover {
    transform: scale(1);
}

@media(max-width:552px) {
    .p-width-552 {
        width: 90%;
    }
    .blog .blog-author p {
        color: #7e7e7e;
        font-size: 13px;
    }
}

.d-flex-popup {
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.content-border {
    border: 2px solid #f2f5fc;
    padding: 10px;
    border-radius: 10px;
}

hr {
    border: 1px solid #c7d5f5;
}

.auto-set {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.hidden-box {
    border: none;
    box-shadow: none;
    transform: scale(0.9);
}

.hidden-box:hover {
    border: none;
    box-shadow: none;
}

.call-us {
    background-color: white;
    color: #012970;
    box-shadow: 0px 0px 1px 0px;
}

.icon-size {
    font-size: 20px;
    color: #004aad;
    margin: 0 10px;
}

.fixed-img {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.blogs {
    margin: 20px;
}

.post-title-2 {
    font-size: 15px;
    color: #012970;
    font-weight: 700;
}

.description-blog {
    font-size: 12px;
    color: #000;
    font-weight: 100;
}

.btn-blogs {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    width: auto;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: rgb(0 74 173);
    box-shadow: 0px 5px 25px rgb(65 84 241 / 30%);
    margin: 0px 10px;
}

.btn-blogs:hover {
    color: rgb(203, 227, 255);
}

.share-btn {
    margin: 0px -5px;
    padding: 10px 12px;
    line-height: 0;
}

.blog-margin {
    margin: 10px 0;
}

.inner-fetaure {
    font-size: 20px;
    top: 0;
    position: absolute;
    color: #02204c;
    font-weight: 700;
    background: #ffffff;
    border-bottom: 2px solid #012970;
    border-top: 2px solid #b4bece;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.blog-text-552 {
    font-size: 13px;
    text-align: justify;
}

.img-circle {
    border-radius: 100%;
    border: 2px solid #91b0e5;
}

.circle-online {
    width: 20px;
    height: 20px;
    background-color: rgb(230 230 230);
    position: absolute;
    border-radius: 100%;
    transform: translateY(-20px);
    margin-left: -8px;
}

.rectangle-box-swiper {
    padding: 10px 5px;
    transition: 0.3s;
    height: auto;
    font-size: 14px;
    margin: 20px 0;
    text-align: justify;
    transform: scale(0.9);
}

.rectangle-box-swiper-2 {
    padding: 10px 5px;
    transition: 0.3s;
    height: auto;
    font-size: 14px;
    margin: -20px 0;
    text-align: justify;
    transform: scale(0.9);
}

.slider-logo {
    width: 100%;
}

.rectangle-box-swiper:hover,
.rectangle-box-swiper-2:hover {
    transform: scale(1);
}

.heading-slider {
    font-size: 36px;
    color: #004aad;
    font-weight: 700;
    text-align: left;
}

.heading-line-slider {
    width: 100px;
    transform: translateY(-12px);
    border: 3px solid #004aad;
    opacity: 1;
    border-radius: 20px;
}

.Slider-map {
    text-align: center;
    font-size: 24px;
    color: #004aad;
    font-weight: 700;
    margin: -160px 0 60px 0;
    background-color: #aabadb11;
}

.Slider-map-2 {
    text-align: center;
    font-size: 16px;
    color: #004aad;
    font-weight: 700;
    margin: -60px 0 60px 0;
    background-color: #aabadb11;
    padding: 10px;
}

.map-model {
    width: 60%;
}

.map-model-2 {
    width: 100%;
}

.Height-fixed {
    height: 300px;
}

@media(max-width:552px) {
    .Height-fixed {
        height: auto;
    }
    .rectangle-box-swiper {
        text-align: center;
        font-size: 13px;
        margin: 10px;
    }
    .slider-logo {
        width: 60%;
    }
    .heading-slider {
        text-align: center;
    }
    .heading-line-slider {
        display: none;
    }
    .map-model {
        width: 100%;
    }
    .Slider-map {
        text-align: center;
        font-size: 20px;
        color: #004aad;
        font-weight: 700;
        background-color: #d9dfeb11;
        margin: 10px 0 10px 0;
    }
    .Slider-map-2 {
        text-align: center;
        font-size: 16px;
        color: #004aad;
        font-weight: 700;
        margin: 0px 0 10px 0;
        background-color: #aabadb11;
        padding: 10px;
    }
    .btn-popup-2 {
        top: 22%;
    }
}

.img-cv {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #f1f4fc;
}

.btn-download {
    margin-top: 0px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: rgb(0 74 173);
    box-shadow: 0px 1px 5px 1px rgb(65 84 241 / 40%);
}

.btn-download:hover {
    color: white;
    text-align: center;
    background: #013ca3;
}

.download-p {
    font-size: 14px;
    color: #000;
}

.cv-contents {
    padding: 30px;
}

.down-social {
    color: rgb(0 74 173);
    font-size: 28px;
    margin: 0px 5px;
}

.down-social:hover {
    color: #013ca3;
}

.vertical-line {
    border-right: 2px solid #f1f4fc;
}

.popup .description-3 {
    font-size: 14px;
}

.display-after-img {
    width: 60%;
}

.thankyou_message {
    display: none;
    text-align: center;
}

.margin-552px {
    margin-top: -35px;
}

.margin-552px-2 {
    margin-top: -75px;
}

@media(max-width:552px) {
    .down-social,
    .social-links-down,
    .download,
    .cv-contents {
        text-align: center;
    }
    .vertical-line {
        border-right: none;
    }
    .download-p {
        margin: 22px;
    }
    .popup .description-3 {
        font-size: 12px;
    }
    .not-center-552 {
        text-align: left;
    }
    .display-after-img {
        width: 100%;
    }
    .margin-552px-2,
    .margin-552px {
        margin: 0;
    }
}

.logo-size {
    width: 150px!important;
}

.Service-btn {
    /* background: #004aad; */
    width: auto;
    padding: 10px;
    font-weight: 600;
}

.Service-btn:hover {
    background: #004aad;
    color: white;
    width: auto;
    padding: 10px;
    border-radius: 4px;
    border: solid 2px #004aad;
    font-weight: 600;
}

.Message {
    height: 100px!important;
}

.clients{
    display: inline;
    width: 200%;
    height: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.margin-top-10
{
    margin-top: 10%;
}